{% extends 'base.html.twig' %}

{% block title %}Hello NewsletterController!
{% endblock %}

{% block body %}
	<h1>Choisissez vos newsletters</h1>
	<h2>Je dois mettre ça dans le edit de User???? ou/et dans le registration</h2>
	<h3>Voir à récupérer dans le formtype le email di connecté</h3>
	{{form(form)}}{% endblock %}
