<form method="post" action="{{ path('app_order_delete', {'id': order.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer cette commande?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
	<button class="btn btn-danger btn-lg mt-4">Supprimer</button>

</form>
