<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home.index')}}"><img src="{{ asset('assets/images/logo.png')}}" alt="Logo" style="max-width: 2rem; "></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrateur</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ path('app_sport_index')}}">Activités sportives</a>


						<a class="dropdown-item" href="#">Coachs</a>
						<a class="dropdown-item" href="#">Adhérents</a>
						<a class="dropdown-item" href="#">Fiches de présence</a>
						<a class="dropdown-item" href="#">Envoyer des Mails à l'ensemble des membres</a>
						<a class="dropdown-item" href="#">Gérer les mails formulaire de contact</a>


						<a class="dropdown-item" href="{{ path('app_post_index')}}">Modération - Mur de communication</a>


						<a class="dropdown-item" href="#">Objets publicitaires</a>


						{# <a class="dropdown-item" href="#">Something else here</a>
																																																																														<div class="dropdown-divider"></div>
																																																																														<a class="dropdown-item" href="#">Separated link</a> #}
					</div>
				</li>

				{# <li class="nav-item">
																																																																																	<a class="nav-link" href="#">Features</a>
																																																																																</li>
																																																																																<li class="nav-item">
																																																																																	<a class="nav-link" href="#">Pricing</a>
																																																																																</li>
																																																																																<li class="nav-item">
																																																																																	<a class="nav-link" href="#">About</a>
																																																																																</li> #}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Représentant</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Créer une feuille de présence</a>
						<a class="dropdown-item" href="#">Imprimer une feuille de présence</a>
						<a class="dropdown-item" href="#">Supprimer un adhérent de la feuille de présence</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Adhérent et coach</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">S'inscrire</a>
						<a class="dropdown-item" href="#">Réinscription</a>
						<a class="dropdown-item" href="#">Mur de communication</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Objets publicitaires</a>
						<a class="dropdown-item" href="#">Commander des Objets publicitaires avec filtre JS</a>

					</div>
				</li>

			</ul>
			<form class="d-flex">
				<input class="form-control me-sm-2" type="text" placeholder="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
