{% extends 'base.html.twig' %}

{% block title %}
	CVG
{% endblock %}

{% block body %}


	<div class="container mt-4">

		<h1>MODELE TYPE DE CONDITIONS GENERALES DE VENTE</h1>
		<p>A modifier selon les cas</p>
		<p>Issues de la recommandation n°06-01 du 3 mars 2006 de la CCPC
																												(JONC du 18 avril 2006 P. 2684)
																												La commission consultative des pratiques
																												commerciales recommande que les fournisseurs de
																												produits ou de prestations de services en Nouvelle-
																												Calédonie se dotent de conditions générales de
																												vente établies selon les besoin de chacun, à partir
																												du modèle proposé ci-après :</p>


		<h2>1 - Conclusion du contrat</h2>
		<p>Toute commande de produits implique l'adhésion sans
																															réserve aux présentes conditions générales de vente,
																															complétées ou aménagées par nos conditions
																															particulières,qui annulent toute clause contraire pouvant
																															figurer dans les conditions d'achat, bons de commande,
																															ou autres documents commerciaux.</p>

		<h2>2 - Prix</h2>
		<p>Les marchandises sont facturées au tarif en vigueur au
																															jour de la passation de la commande.
																															Le tarif général est annexé aux présentes conditions.
																															Les prix peuvent être révisés sous réserve d'une
																															information préalable de 30 jours.
																															AVIS ET COMMUNICATIONS</p>

		<h2>3 - Livraison</h2>
		<p>La livraison est effectuée soit par la remise directe du
																															produit à l'acquéreur, soit par avis de mise à
																															disposition, soit par délivrance à un expéditeur ou à un
																															transporteur dans les locaux du vendeur ou dans tous
																															autres locaux désignés.
																															La vérification des marchandises par l'acheteur doit être
																															effectuée au moment de leur prise en charge.
																															En cas d'avarie ou de manquant, de réclamations sur
																															les vices apparents ou sur la non-conformité du produit
																															livré, l'acheteur émettra des réserves claires et précises
																															qu'il notifiera dans un délai de trois jours, suivant la
																															date de livraison par écrit auprès du vendeur ou du
																															transporteur. Il appartiendra à l'acheteur de fournir toute
																															justification quant à la réalité des anomalies constatées.</p>

		<h2>4 - Délais de livraison</h2>
		<p>Les délais de livraison sont indiqués en fonction des
																															disponibilités d'approvisionnement.
																															Sauf cas de force majeure (guerre, émeute, incendie,
																															grève totale ou partielle.), en cas de retard de livraison
																															d'une durée supérieure à .... après la date indicative de
																															livraison, l'acheteur aura l'option d'annuler sa
																															commande, sans pouvoir prétendre à quelque
																															indemnité que ce soit.</p>

		<h2>5 - Retours</h2>
		<p>Tout retour de produit doit faire l'objet d'un accord
																															formel entre le vendeur et l'acquéreur.</p>

		<h2>6 -Garantie</h2>
		<p>Le vendeur apportera le plus grand soin à l'exécution
																															de la commande et à la qualité des produits. En cas de
																															défectuosité reconnue par le vendeur, l'obligation de ce
																															dernier sera limitée au remplacement ou au
																															remboursement des quantités défectueuses, sans autre
																															indemnité. Sont exclus de la garantie les défauts et
																															dommages résultant d'un stockage, de manutention, de
																															transport ou d'utilisation dans des conditions anormales
																															ou non conformes avec la nature, les prescriptions,
																															l'aptitude à l'emploi du produit.</p>

		<h2>7 – Paiement</h2>
		<p>Sauf conditions particulières, les factures sont payables
																															à .... à compter de la date de livraison. En cas de retard
																															de paiement, le vendeur pourra suspendre toutes les
																															commandes en cours. Toute somme non payée à
																															l'échéance figurant sur la facture entraîne de plein droit
																															l'application de pénalités d'un montant égal à une fois et
																															demie1 l'intérêt légal. Ces pénalités seront exigibles sur
																															simple demande du vendeur.
																															Aucun escompte n'est accepté pour paiement anticipé.
																															Un escompte de .... est accor dé pour tout paiement au
																															comptant.</p>

		<h2>8 - Clause résolutoire</h2>
		<p>En cas de défaut de paiement, quarante huit heures
																															après une mise en demeure restée infructueuse, la
																															vente sera résiliée de plein droit par le vendeur qui
																															pourra demander en référé la restitution des produits
																															sans préjudice de tous autres dommages et intérêts.
																															Les sommes restant dues pour d'autres livraisons
																															deviendront immédiatement exigibles si le vendeur
																															n'opte pas pour la résolution des commandes
																															correspondantes.</p>

		<h2>9 - Réserve de propriété</h2>
		<p>Les marchandises vendues restent la propriété du
																															vendeur jusqu'au complet règlement de leur prix.
																															Toutefois les risques afférents aux marchandises seront
																															transférés à l'acheteur ou au transporteur, dès la
																															remise physique des produits.</p>

		<h2>10 - Attribution de juridiction</h2>
		<p>Les présentes conditions annulent et remplacent les
																															conditions précédemment applicables. Tout litige relatif
																															aux présentes sera de la compétence du tribunal mixte
																															de commerce de Nouméa.
																															Attention : Ce modèle type de conditions
																															générales de vente n’engage en aucun cas
																															l’administration. Il appartient aux
																															professionnels de s’assurer que leurs
																															CGV sont conformes aux dispositions de
																															la délibération modifiée n°14 du 6/10/2004.
																															1 L’article 74 nouveau a porté le taux minimal des
																															pénalités de retard à trois fois le taux de l’intérêt légal
																															en cours.</p>


		<a class="btn btn-primary btn-lg" href="{{ path('home.index')}}">Retour Accueil</a>


	</div>
{% endblock %}
