{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur le site de
				<strong>l'ASDEC</strong>
			</h1>
			<img src="{{ asset('assets/images/logo.png')}}" alt="logo asdec" style="max-width: 12rem;" class="mx-auto d-block" data-aos="fade-right" data-aos-duration="50000">

			<p class="lead">Ce site permet la gestion des membres de l'association de l'ASDEC.</p>
			<hr class="my-4">
			<img src="{{ asset('assets/images/yoga.jpg')}}" alt="activité sportive" style="max-width: 30rem;" class="mx-auto d-block" data-aos="fade-left" data-aos-duration="50000">
			<hr class="my-4">

			<p>Si vous souhaitez de plus amples informations sur les activités de l'<strong>ASDEC</strong>.</p>
			<a class="btn btn-primary btn-lg" href="http://asdec.e-monsite.com/" role="button">En savoir plus</a>

		</div>
	</div>

{% endblock %}
