{% extends 'base.html.twig' %}

{% block title %}
	ReadMe
{% endblock %}

{% block body %}
	<h1 class="text-center">MODE D'EMPLOI DU SITE</h1>

	<p>recruteur@gmail.com</p>

	<p>consultantok@gmail.com</p>

	<p>candidat@test1.com</p>

	<p>admin@trt.fr</p>


{% endblock %}
