<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce groupe?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
	<button class="btn btn-danger btn-lg mt-4">Supprimer</button>

</form>
