{% extends 'base.html.twig' %}

{% block title %}Modération
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Modification / Suppression de l'article</h1>

		{{ include('pages/post/_form.html.twig', {'button_label': 'Modifier'}) }}

		<div class="mt-4">
			<a href="{{ path('app_post_index') }}">Retour à la liste</a>
		</div>


		{{ include('pages/post/_delete_form.html.twig') }}</div>

{% endblock %}
