{% extends 'base.html.twig' %}

{% block title %}Ecrire un article
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Nouvel article</h1>

		{{ include('pages/post/_form.html.twig') }}
		<div class="mt-4">
			<a href="{{ path('home.index') }}">Retour à l'accueil</a>
		</div>


	</div>

{% endblock %}
