{% extends 'base.html.twig' %}

{% block title %}Modification d'une activité adulte
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Modification d'une activité adulte</h1>


		{{ include('pages/sport/_form.html.twig', {'button_label': 'Modifier'}) }}
		<div class="mt-4">
			<a href="{{ path('app_sport_index') }}">Retour à la liste</a>
		</div>


		{{ include('pages/sport/_delete_form.html.twig') }}</div>

{% endblock %}
