{% extends 'base.html.twig' %}

{% block title %}Création activité adulte
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Création activité adulte</h1>


		{{ include('pages/sport/_form.html.twig') }}

		<div class="mt-4">
			<a href="{{ path('app_sport_index') }}">Retour à la liste</a>
		</div>

	</div>

{% endblock %}
