{% extends 'base.html.twig' %}

{% block title %}Modification de la  Newsletter
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Modification de la  Newsletter</h1>

		{{ include('pages/newsletter/_form.html.twig', {'button_label': 'Modifier'}) }}
		<div class="mt-4 container">
			<a href="{{ path('app_newsletter_index') }}">Retour à la liste</a>
		</div>


		{{ include('pages/newsletter/_delete_form.html.twig') }}</div>

{% endblock %}
