{% extends 'base.html.twig' %}

{% block title %}Création de la  Newsletter
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Création de la Newsletter</h1>
		<h2>Ecrivez votre newsletter</h2>

		{{ include('pages/newsletter/_form.html.twig') }}
		<div class="mt-4 container">
			<a href="{{ path('app_newsletter_index') }}">Retour à la liste</a>
		</div>


	</div>

{% endblock %}
