{% extends 'base.html.twig' %}

{% block title %}Modification d'un utilisateur
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Modifier son compte / Ajouter une photo / Mettre à jour son certificat médical</h1>


		{{ include('pages/user/_form.html.twig', {'button_label': 'Modifier'}) }}
		<div class="mt-4">
			<a href="{{ path('home.index') }}">Retour à l'accueil</a>

		</div>

	</div>

{% endblock %}
