<form method="post" action="{{ path('app_child_delete', {'id': child.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer ce profil?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ child.id) }}">
	<button class="btn btn-danger btn-lg mt-4">Supprimer</button>

</form>
