<form method="post" action="{{ path('app_timecard1_delete', {'id': timecard1.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette fiche?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ timecard1.id) }}">
	<button class="btn">Supprimer</button>
</form>
